
cryptography/tempCodeRunnerFile.py
env/
/web-services/cw1/rateyourteacher/app/__pycache__
/web-services/cw1/rateyourteacher/app/migrations/__pycache__
/web-services/cw1/rateyourteacher/rateyourteacher/__pycache__
/web-services/cw1/rateyourteacher/app/__pycache__
*.pyc
*.pyc
*.pyc
